NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
DATABASE_SSL=true
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=2h
CORS_ORIGIN=https://liholiswano-bnb-web.onrender.com
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
BSC_CHAIN_ID=97
